# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Environments
venv/
.env
# IDEs
.vscode/
.idea/
# Model artifacts (if you prefer to keep them out of Git)
models/
dataset/

# Outputs
cam_*.jpg
images/
